body {
      background: #efeee7;
      font-family: Georgia, 'Times New Roman', Times, serif ;
      color: #333333;
      line-height: 150%;
      font-size: 18px;
      margin: 0;
      padding: 0; 
          
      }

header {
  background-color: #333333;

}

h1 {
  color: #eee;
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;

}

h2 {
  font-size: 24px;
  
}

a {
  color: #d21034;
}

.container {  
  width: 1024px ;
  margin: 0 auto;
}

#main-bio, 
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}

#contact-info {
  border: 1px;
  width: 28%;
}

#bio-image {
  width: 200px;
  height: 200px;
margin-right: 20px;
}

